@for $i from 1 through 10 {
  .u-m-#{$i} {
    margin: $i * 0.25rem;
  }
  .u-mt-#{$i} {
    margin-top: $i * 0.25rem;
  }
  .u-mr-#{$i} {
    margin-right: $i * 0.25rem;
  }
  .u-mb-#{$i} {
    margin-bottom: $i * 0.25rem;
  }
  .u-ml-#{$i} {
    margin-left: $i * 0.25rem;
  }
}
