.app__nav {
    padding : 0px 13px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app__nav--left {
    display: flex;
    align-items: center;
    gap : 12px;
    &-logo {
        color : #461A42;
        font-size: 36px;
        font-weight: 700;
    }
    &-search {

        position: relative;
        width : 90%;
        display: flex;
        align-items: center;
        
        input {
            outline: none;
            padding : 2px 20px;
            width: 100%;
            border : 1px solid #D9D9D9;
            border-radius : 20px;
        }
        
        input::placeholder {
            color : #7E8098;
            font-weight: 500;
            font-size: 16px;   
        }
        &-icon {
             color : #7E8098;
            height: 100%;
            position: absolute;
            top: 0px;
            right : 12px;
            display: flex;
            align-items: center;
        }
    }

    &-menu {
        display: flex;
        align-items: center;
        gap : 10px;
        margin-left: 8px;
        &-item {
            
            &-active {
                position: relative;
                color : $colorDefault !important; 
                font-weight: 600 !important;
            }
            &-active::after {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 3px;
                background: $colorDefault;
            }
            font-weight: 700;
            color : #292a3aa8 !important;
            font-size: 16px;
            display: flex;
            gap : 5px;
            justify-content: center;
            height: 100%;
            padding : 16px 22px;
            align-items: center;
        }
    }

}
.app__nav--right {
  
    flex : 0 0 210px;
    align-items: center;
    height: 100%;
    display: flex;
    gap : 37px;
    &-button {
        text-align: center;
        display: flex;
        align-items: center;
        gap : 7px;
        background: #292a3a1a;
        border-radius: 4px;
        padding : 4px 8px;
        span {
            color : #292A3A;
            font-size: 16px;
            font-weight: 600;
        }
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #D9D9D9;
        border-radius: 100%;
        width: 31px;
        height: 31px;
        cursor: pointer;
        position: relative;
        &-list {
            &-email {
                span {
                    &:first-child {
                        color : #292A3A;
                        font-size: 14px;
                        font-weight: 500px;
                    }
                    &:last-child {
                        font-size: 11px;
                        color : rgb(115, 115, 115);
                        font-weight: 500;
                    }
                }
                padding : 10px;
                display: flex;
                flex-direction: column;
                
                border-bottom: 1px solid #eee;
            }
            
            &-setting {
                
                &-item {
                    display: flex;
                    gap : 10px;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 7px 0px;
                    padding : 10px 20px;
                    margin : 5px 0px;
                    &:hover {
                        
                        color :#8854C0;
                        background: #8854c011;
                    }
                }
                
            }
            z-index: 9999;
            border : 1px solid #eee;
            border-radius: 7px;
            position: absolute;
            white-space: nowrap;
            top : 120%;
            right : 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background: rgb(255, 255, 255);
            animation-name: shownavanimation;
            animation-duration: 0.4s;
        }
    }
     
}

@keyframes shownavanimation {
    from {scale: 0;}
    to {scale: 1;}
}





@media only screen and (max-width: 600px) {

   .app__nav--left-logo {
    &::after {
        content: 'Home';
        color : #292a3a;
        font-size: 28px;
    }
    span {
       display: none;
    }
}
   .app__nav--right {
    flex : 0 0 35px;
 }
   .app__nav--right-button {
    display: none;
   }

   .app__nav--left-menu {
    display: none;
   }
   .app__nav--left-search {
    display: none;
   }

   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $sm-screen) {
  
   
       .app__nav--left-menu-item-text {
        display: none ;
     }
     
    .app__nav--left-logo {
        span {
           &:last-child {
               display: none;
           }
        }
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $lg-screen) {
  
       .app__nav--left-menu-item-text {
        display: block !important;
     }
       .app__nav--left-menu-item-text {
        display: block;
     }
   
}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: $xl-screen) {
    .app__nav--left-logo {
        span {
           &:last-child {
               display: inline;
           }
        }
    }
 
}
