$textPrimary: #fafafa;
$textColor: rgba(255, 255, 255, 0.8);
$backgroundColor: rgb(25 22 36);
$darkColor: #000;
$lightColor: #fff;

$colorDefault : #8854C1;
$sm-screen: 600px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$lighterPurple: #A076CC;
$higherPurple: #6E4AA8
