.p__p-result-stt {
    font-weight: bold;
    padding: 1rem,
}

.div__div--result-item {
    margin-top: 1rem;
    min-height: 120px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;

    .p__p-result-title {

        font-size: 0.75rem;
        background-color: gray;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
        width: fit-content;
        margin-bottom: 0.5rem;

    }

}

.btn__btn--create {
    margin-top: 2rem;
    font-weight: bold;

    &:where(.css-dev-only-do-not-override-1r6or9o).ant-btn-default {
        background-color: $lighterPurple;
        color: $textColor;
        padding: 1rem 0.5rem;
        border: none;

    }

    &:where(.css-dev-only-do-not-override-1r6or9o).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: $lighterPurple;
        color: $textColor;
        padding: 1rem 0.5rem;

    }
}

.btn__btn--share {
    float: right;
    background-color: #fff;
    border: 2px solid $lighterPurple;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    font-weight: bold;

    &:hover {
        background-color: $lighterPurple;
        color: #fff;
        font-weight: bold;
    }
}

.btn__btn--play {
    margin: 0.75rem 0;
    background-color: #fff;
    border: 2px solid $lighterPurple;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    font-weight: bold;

    &:hover {
        background-color: $lighterPurple;
        color: #fff;
        font-weight: bold;
    }
}

.div__div--wrapper-quizInfor {
    width: 90%;
    padding: 1rem;
    margin: 1rem auto;
    border: 2px solid #f5f5f5;

    .p__p--switchbtn {
        float: right;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: bold;
    }

    .div__div--dataAnswer {
        margin: 1rem 0;
        padding-bottom: 1rem;
        .p__p--typeAnswer {
            font-weight: bold;
            margin-top: 0.5rem;
            padding: 1rem;
            display: flex;
            gap: 0.75rem;
            border-top: 1px solid #f5f5f5;
            .input__input--disable {
                &:disabled {
                    cursor: not-allowed;
                    
                }
            }
        }

        .div__div--listAnswer {
            margin: 1rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            .div__div--answerwrapper {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}